*.patch
/.vs
/BackUp
/Customization
/CMMS/bin
/CMMS/obj
/CMMS/CMMS.csproj.user
/CMMS_22_111_0020/*
/CMMS_23_101_0071/*
/CMMS_23_106_0050/*
/23r1/*
!/23r1/App_Data/
/23r1/App_Data/*
!/23r1/App_Data/SnapshotConfigs/
/23r1/App_Data/SnapshotConfigs/*
!/23r1/Content/
/23r1/Content/*
!/23r1/Content/svg_icons/
/23r1/Content/svg_icons/*
!/23r1/Content/svg_icons/WO*
!/23r1/Pages
/23r1/Pages/*
!/23r1/Pages/WO
!/23r1/FrontendSources/
/23r1/FrontendSources/*
!/23r1/FrontendSources/screen/
/23r1/FrontendSources/screen/*
!/23r1/FrontendSources/screen/src/
/23r1/FrontendSources/screen/src/*
!/23r1/FrontendSources/screen/src/screens/
/23r1/FrontendSources/screen/src/screens/*
!/23r1/FrontendSources/screen/src/screens/WO
/Snapshots
/TemporaryAspFiles
/CMMS_23_106_0050.x
