*.patch
/.vs
/BackUp
/Customization
/CMMS/bin
/CMMS/obj
/CMMS/CMMS.csproj.user
/CMMS_22_111_0020/*
/CMMS_23_101_0071/*
!/CMMS_23_101_0071/App_Data/
/CMMS_23_101_0071/App_Data/*
!/CMMS_23_101_0071/App_Data/SnapshotConfigs/
/CMMS_23_101_0071/App_Data/SnapshotConfigs/*
!/CMMS_23_101_0071/Content/
/CMMS_23_101_0071/Content/*
!/CMMS_23_101_0071/Content/svg_icons/
/CMMS_23_101_0071/Content/svg_icons/*
!/CMMS_23_101_0071/Content/svg_icons/WO*
!/CMMS_23_101_0071/Pages
/CMMS_23_101_0071/Pages/*
!/CMMS_23_101_0071/Pages/WO
/Snapshots
/TemporaryAspFiles