*.patch
/.vs
/BackUp
/Customization
/CMMS/bin
/CMMS/obj
/CMMS/CMMS.csproj.user
/CMMS_22_111_0020/*
/CMMS_23_101_0071/*
/CMMS_23_106_0050/*
!/CMMS_23_106_0050/App_Data/
/CMMS_23_106_0050/App_Data/*
!/CMMS_23_106_0050/App_Data/SnapshotConfigs/
/CMMS_23_106_0050/App_Data/SnapshotConfigs/*
!/CMMS_23_106_0050/Content/
/CMMS_23_106_0050/Content/*
!/CMMS_23_106_0050/Content/svg_icons/
/CMMS_23_106_0050/Content/svg_icons/*
!/CMMS_23_106_0050/Content/svg_icons/WO*
!/CMMS_23_106_0050/Pages
/CMMS_23_106_0050/Pages/*
!/CMMS_23_106_0050/Pages/WO
!/CMMS_23_106_0050/FrontendSources/
/CMMS_23_106_0050/FrontendSources/*
!/CMMS_23_106_0050/FrontendSources/screen/
/CMMS_23_106_0050/FrontendSources/screen/*
!/CMMS_23_106_0050/FrontendSources/screen/src/
/CMMS_23_106_0050/FrontendSources/screen/src/*
!/CMMS_23_106_0050/FrontendSources/screen/src/screens/
/CMMS_23_106_0050/FrontendSources/screen/src/screens/*
!/CMMS_23_106_0050/FrontendSources/screen/src/screens/WO
/Snapshots
/TemporaryAspFiles
/CMMS_23_106_0050
